@import "./variables";

.nav-item{
    font-family: $fontfamily;
    font-weight: bold;
    font-size: 1.2rem;
}


.dropdown-item{
    color: white;
}


.carousel-item{
    height: 30rem;
    background-position: center;
    background-size: cover;

}

.carousel-item{
    height: 30rem;
    background-position: center;
    background-size: cover;
    
}

.marcas{
    background-color: $colormarcas;
  
    
}



.card__lumilagro{
    height: 80%;

    &--img{
        display: flex;
        position: relative;
        top: 5rem;
        align-content: center;
    }

}



.titulo__slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    &--primero{
        
        position: absolute; 
        bottom: 8rem;
        font-family: $fontfamily;
        font-weight: bold;

    }
    &--segundo{
        @extend .titulo__slide--primero;
    }

    &--tercero{
        
        @extend .titulo__slide--primero;
    }
}

