@import url(/assets/Montserrat\ Fuente/Montserrat);

$fontfamily: "Montserrat";
$colormarcas:#ffbf75;

@mixin font($font,$size,$fontweight) {
    font-family:$font;
    font-size: $size;
    font-weight: $fontweight;
     
}


$colortexto: ("productos":black,"quienessomos":rgb(87, 84, 84),"titulos":rgb(243, 229, 33));